n8n/meeting-eval-workflow.json
{
  "name": "Meeting Eval API Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            { "mode": "everyMinute" }
          ]
        },
        "triggerOn": "fileCreated",
        "folderToWatch": "={{ $env.DRIVE_FOLDER_ID }}",
        "options": {}
      },
      "id": "trigger-drive",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [220, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive OAuth2"
        }
      },
      "notes": "文字起こしファイルがDriveフォルダにアップロードされたらトリガー"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MEETING_EVAL_API_URL || 'http://localhost:8080' }}/api/process-meeting",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.MEETING_EVAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fileId",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "http-1",
      "name": "Call Meeting Eval API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "notes": "POST /api/process-meeting にfileIdを送信。タイムアウト5分。"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-ok",
              "leftValue": "={{ $json.body.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-1",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.meetingReport.to.join(', ') }}",
        "subject": "={{ $json.body.meetingReport.subject }}",
        "emailType": "html",
        "message": "={{ $json.body.meetingReport.html }}",
        "options": {}
      },
      "id": "gmail-meeting",
      "name": "Send Meeting Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [920, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      },
      "notes": "会議レポートを全参加者にメール送信"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.individualReports",
        "options": {}
      },
      "id": "split-1",
      "name": "Split Individual Reports",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [920, 400]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "gmail-individual",
      "name": "Send Individual Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1140, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      },
      "notes": "個人レポートを本人にメール送信"
    },
    {
      "parameters": {
        "sendTo": "={{ $env.ADMIN_EMAIL || 'ren.fujioka@novagrid.tech' }}",
        "subject": "会議評価エラー: {{ $json.body.error.code }}",
        "message": "Step: {{ $json.body.error.step }}\nError: {{ $json.body.error.message }}",
        "options": {}
      },
      "id": "gmail-error",
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [920, 500],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      },
      "notes": "エラー時に管理者にメール通知"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [{ "node": "Call Meeting Eval API", "type": "main", "index": 0 }]
      ]
    },
    "Call Meeting Eval API": {
      "main": [
        [{ "node": "Success?", "type": "main", "index": 0 }]
      ]
    },
    "Success?": {
      "main": [
        [
          { "node": "Send Meeting Report", "type": "main", "index": 0 },
          { "node": "Split Individual Reports", "type": "main", "index": 0 }
        ],
        [
          { "node": "Send Error Notification", "type": "main", "index": 0 }
        ]
      ]
    },
    "Split Individual Reports": {
      "main": [
        [{ "node": "Send Individual Report", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "meeting-eval" }
  ]
}
